.signin__wrapper {
  background: url("../../assets/background/bg.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100vh;
}

.signin__wrapper .signin__item {
  position: relative;
  background: #f9faff;
  top: 7.2rem;
  height: calc(100% - 7.2rem);
  border-radius: 2.4rem 2.4rem 0 0;
  padding: 8.8rem 3.2rem 4.5rem 3.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.signin__wrapper .signin__item h1 {
  position: absolute;
  top: 3.3rem;
  font-weight: 600;
  font-size: 2rem;
}

.signin__wrapper .signin__item .signin__form input {
  position: relative;
  width: 100%;
  font-size: 1.5rem;
  border-radius: 0.8rem;
  height: 4rem;
  padding: 0.95rem 0.5rem 0.95rem 4.7rem;
  border: 1px solid #dce0ec;
  outline: none;
  margin-bottom: 2.4rem;
}

.signin__wrapper .signin__item .signin__form input::-webkit-input-placeholder {
  color: #a1abc9;
}

.signin__wrapper .signin__item .signin__form input:-ms-input-placeholder {
  color: #a1abc9;
}

.signin__wrapper .signin__item .signin__form input::-ms-input-placeholder {
  color: #a1abc9;
}

.signin__wrapper .signin__item .signin__form input::placeholder {
  color: #a1abc9;
}

.signin__wrapper .signin__item .signin__form input:focus {
  border: 1px solid #7297ff;
}

.signin__wrapper .signin__item .signin__form .signin__password_error,
.signin__wrapper .signin__item .signin__form .signin__email_error {
  position: relative;
  display: block;
  margin-bottom: 1.4rem;
  font-weight: 400;
  line-height: 16.6px;
  font-size: 1.3rem;
  letter-spacing: -0.24px;
  top: -0.8rem;
  color: #f6657f;
}

.signin__wrapper .signin__item .signin__form .signin__email {
  position: relative;
}

.signin__wrapper .signin__item .signin__form .signin__email:before {
  content: url("../../assets/icon/email.svg");
  position: absolute;
  top: 1.2rem;
  left: 1.8rem;
  width: 2rem;
  height: 2rem;
  z-index: 1;
}

.signin__wrapper .signin__item .signin__form .signin__email.error input {
  border: 1px solid #f6657f;
}

.signin__wrapper .signin__item .signin__form .signin__password {
  position: relative;
}

.signin__wrapper .signin__item .signin__form .signin__password input {
  padding: 0.95rem 4.7rem 0.95rem 4.7rem;
}

.signin__wrapper .signin__item .signin__form .signin__password:before {
  content: url("../../assets/icon/password.svg");
  position: absolute;
  top: 1rem;
  left: 2rem;
  width: 2rem;
  height: 2rem;
  z-index: 1;
}

.signin__wrapper .signin__item .signin__form .signin__password:after {
  content: url("../../assets/icon/hidden.svg");
  position: absolute;
  top: 0.9rem;
  right: 1.9rem;
  width: 2rem;
  height: 2rem;
  z-index: 1;
}

.signin__wrapper .signin__item .signin__form .signin__password.error input {
  border: 1px solid #f6657f;
}

.signin__wrapper .signin__item .signin__form .signin__button {
  background: #7297ff;
  display: block;
  cursor: pointer;
  position: relative;
  top: 1rem;
  text-align: left;
  border: none;
  margin-bottom: 4.3rem;
  color: #ffffff;
  padding: 1.2rem 1.6rem;
  width: 11.6rem;
  height: 4.8rem;
  border-radius: 0.8rem;
  font-weight: 500;
  font-size: 1.5rem;
}

.signin__wrapper .signin__item .signin__form .signin__button:after {
  content: url("../../assets/icon/arrow-right.svg");
  position: relative;
  height: 13.3rem;
  width: 7.7rem;
  top: 0.2rem;
  left: 1.7rem;
}

.signin__wrapper .signin__item .signin__form a {
  color: #7297ff;
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer;
}

.signin__wrapper .signin__item .signin__notification {
  display: block;
}

.signin__wrapper .signin__item .signin__notification p {
  font-size: 1.5rem;
  color: #a1abc9;
  margin-bottom: 0.2rem;
}

.signin__wrapper .signin__item .signin__notification a {
  font-size: 1.5rem;
  font-weight: 500;
  color: #7297ff;
  cursor: pointer;
}

@media (min-width: 768px) {
  .signin__wrapper {
    background: url("../../assets/background/bg-tablet.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: 100vh;
  }
  .signin__wrapper .signin__item {
    height: 100vh;
    top: 0;
    width: 56rem;
    border-radius: 0;
    padding: 31.6rem 9.6rem 0;
  }
  .signin__wrapper .signin__item h1 {
    top: 26.2rem;
    font-size: 2.4rem;
    font-size: 2.4rem;
  }
  .signin__wrapper .signin__item .signin__form input {
    font-size: 1.7rem;
    height: 5.6rem;
    padding: 1.6rem 0.5rem 1.6rem 6.3rem;
    margin: 2rem 0;
  }
  .signin__wrapper .signin__item .signin__form .signin__email:before {
    top: 4rem;
    left: 2.6rem;
  }
  .signin__wrapper .signin__item .signin__form .signin__password input {
    padding: 0.95rem 4.7rem 0.95rem 6.3rem;
  }
  .signin__wrapper .signin__item .signin__form .signin__password:before {
    top: 3.8rem;
    left: 2.8rem;
  }
  .signin__wrapper .signin__item .signin__form .signin__password:after {
    top: 3.7rem;
    right: 2.7rem;
  }
  .signin__wrapper .signin__item .signin__form .signin__button {
    padding: 1.6rem 2.4rem;
    width: 13.8rem;
    height: 5.6rem;
    font-size: 1.7rem;
  }
  .signin__wrapper .signin__item .signin__form .signin__button:after {
    top: 0.1rem;
  }
  .signin__wrapper .signin__item .signin__form .signin__password_error,
  .signin__wrapper .signin__item .signin__form .signin__email_error {
    top: -1.1rem;
    margin-bottom: 1.8rem;
  }
  .signin__wrapper .signin__item .signin__notification {
    position: absolute;
    bottom: 7.9rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 3.3rem;
  }
}

@media (min-width: 1920px) {
  .signin__wrapper {
    background: url("../../assets/background/bg-desc.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .signin__wrapper .signin__item .signin__form .signin__password input,
  .signin__wrapper .signin__item .signin__form .signin__confirm input {
    padding: 0.95rem 4.7rem 0.95rem 6.3rem;
  }
}
/*# sourceMappingURL=signin.css.map */