@import "../contants/colors.scss";

.signin__wrapper {
  background: url("../../assets/background/bg.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100vh;
  .signin__item {
    position: relative;
    background: $background;
    top: 7.2rem;
    height: calc(100% - 7.2rem);
    border-radius: 2.4rem 2.4rem 0 0;
    padding: 3.2rem 3.2rem 4.5rem 3.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h1 {
      font-weight: 600;
      font-size: 2rem;
      margin-bottom: 2.6rem;
    }
    .signin__form {
      input {
        position: relative;
        width: 100%;
        font-size: 1.5rem;
        border-radius: 0.8rem;
        height: 4rem;
        padding: 0.95rem 0.5rem 0.95rem 4.7rem;
        border: 1px solid #dce0ec;
        outline: none;
        margin-bottom: 2.4rem;
        &::placeholder {
          color: $primarytext;
        }
        &:focus {
          border: 1px solid $primary;
        }
        &.error {
          border: 1px solid $error;
        }
      }

      .signin__password_error,
      .signin__email_error {
        position: relative;
        display: none;
        margin-bottom: 3rem;
        font-weight: 400;
        line-height: 16.6px;
        font-size: 1.3rem;
        letter-spacing: -0.24px;
        top: -0.8rem;
        color: $error;
      }

      .signin__email {
        position: relative;
        &:before {
          content: url("../../assets/icon/email.svg");
          position: absolute;
          top: 1.2rem;
          left: 1.8rem;
          width: 2rem;
          height: 2rem;
          z-index: 1;
        }
      }
      .signin__password {
        position: relative;
        input {
          padding: 0.95rem 4.7rem 0.95rem 4.7rem;
        }
        &:before {
          content: url("../../assets/icon/password.svg");
          position: absolute;
          top: 1rem;
          left: 2rem;
          width: 2rem;
          height: 2rem;
          z-index: 1;
        }

        .icon-eye {
          width: 2rem;
          height: 3rem;
          position: absolute;
          top: 0.5rem;
          right: 1.8rem;
          background: url("../../assets/icon/hidden.svg");
          background-repeat: no-repeat;
          background-position: center;
          border: none;
          &.opened {
            background: url("../../assets/icon/password.svg");
            background-repeat: no-repeat;
            background-position: center;
          }
        }
      }

      .signin__button {
        background: $primary;
        display: block;
        cursor: pointer;
        position: relative;
        top: 1rem;
        text-align: left;
        border: none;
        margin-bottom: 4.3rem;
        color: $white;
        padding: 1.2rem 1.6rem;
        width: 11.6rem;
        height: 4.8rem;
        border-radius: 0.8rem;
        font-weight: 500;
        font-size: 1.5rem;
        &:after {
          content: url("../../assets/icon/arrow-right.svg");
          position: relative;
          height: 13.3rem;
          width: 7.7rem;
          top: 0.2rem;
          left: 1.7rem;
        }
      }
      a {
        color: $primary;
        font-size: 1.5rem;
        font-weight: 500;
        cursor: pointer;
      }
    }
    .signin__notification {
      display: block;
      p {
        font-size: 1.5rem;
        color: $primarytext;
        margin-bottom: 0.2rem;
      }
      a {
        font-size: 1.5rem;
        font-weight: 500;
        color: $primary;
        cursor: pointer;
      }
    }
  }
}

@media (min-width: 768px) {
  .signin__wrapper {
    background: url("../../assets/background/bg-tablet.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    height: 100vh;

    .signin__item {
      height: 100vh;
      top: 0;
      width: 56rem;
      border-radius: 0;
      padding: 31.6rem 9.6rem 0;
      h1 {
        top: 26.2rem;
        font-size: 2.4rem;
        font-size: 2.4rem;
      }

      .signin__form {
        input {
          font-size: 1.7rem;
          height: 5.6rem;
          padding: 1.6rem 0.5rem 1.6rem 6.3rem;
          margin: 2rem 0;
        }
        .signin__email {
          &:before {
            top: 4rem;
            left: 2.6rem;
          }
        }
        .signin__password {
          input {
            padding: 0.95rem 4.7rem 0.95rem 6.3rem;
          }
          &:before {
            top: 3.8rem;
            left: 2.8rem;
          }
          &:after {
            top: 3.7rem;
            right: 2.7rem;
          }
          .icon-eye {
            top: 3.3rem;
            right: 2.6rem;
          }
        }

        .signin__button {
          padding: 1.6rem 2.4rem;
          width: 13.8rem;
          height: 5.6rem;
          font-size: 1.7rem;
          &:after {
            top: 0.1rem;
          }
        }
        .signin__password_error,
        .signin__email_error {
          top: -1.1rem;
          margin-bottom: 1.8rem;
        }
      }
      .signin__notification {
        position: absolute;
        bottom: 7.9rem;
        display: flex;
        gap: 3.3rem;
      }
    }
  }
}
@media (min-width: 1920px) {
  .signin__wrapper {
    background: url("../../assets/background/bg-desc.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;

    .signin__item {
      .signin__form {
        .signin__password,
        .signin__confirm {
          input {
            padding: 0.95rem 4.7rem 0.95rem 6.3rem;
          }
        }
      }
    }
  }
}
