.signup__wrapper {
  background: url("../../assets/background/bg.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100vh;
}

.signup__wrapper .signup__item {
  position: relative;
  background: #f9faff;
  top: 7.2rem;
  height: calc(100% - 7.2rem);
  border-radius: 2.4rem 2.4rem 0 0;
  padding: 8.8rem 3.2rem 4.5rem 3.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.signup__wrapper .signup__item h1 {
  position: absolute;
  top: 3.3rem;
  font-weight: 600;
  font-size: 2rem;
}

.signup__wrapper .signup__item .signup__form input {
  position: relative;
  width: 100%;
  font-size: 1.5rem;
  border-radius: 0.8rem;
  height: 4rem;
  padding: 0.95rem 0.5rem 0.95rem 4.7rem;
  border: 1px solid #dce0ec;
  outline: none;
  margin-bottom: 2.4rem;
}

.signup__wrapper .signup__item .signup__form input::-webkit-input-placeholder {
  color: #a1abc9;
}

.signup__wrapper .signup__item .signup__form input:-ms-input-placeholder {
  color: #a1abc9;
}

.signup__wrapper .signup__item .signup__form input::-ms-input-placeholder {
  color: #a1abc9;
}

.signup__wrapper .signup__item .signup__form input::placeholder {
  color: #a1abc9;
}

.signup__wrapper .signup__item .signup__form input:focus {
  border: 1px solid #7297ff;
}

.signup__wrapper .signup__item .signup__form .signup__firstname,
.signup__wrapper .signup__item .signup__form .signup__lastname {
  position: relative;
}

.signup__wrapper .signup__item .signup__form .signup__firstname:before,
.signup__wrapper .signup__item .signup__form .signup__lastname:before {
  content: url("../../assets/icon/user.svg");
  position: absolute;
  top: 1rem;
  left: 1.8rem;
  width: 2rem;
  height: 2rem;
  z-index: 1;
}

.signup__wrapper .signup__item .signup__form .signup__email {
  position: relative;
}

.signup__wrapper .signup__item .signup__form .signup__email:before {
  content: url("../../assets/icon/email.svg");
  position: absolute;
  top: 1.2rem;
  left: 1.8rem;
  width: 2rem;
  height: 2rem;
  z-index: 1;
}

.signup__wrapper .signup__item .signup__form .signup__password {
  position: relative;
}

.signup__wrapper .signup__item .signup__form .signup__password input {
  padding: 0.95rem 4.7rem 0.95rem 4.7rem;
}

.signup__wrapper .signup__item .signup__form .signup__password:before {
  content: url("../../assets/icon/password.svg");
  position: absolute;
  top: 1rem;
  left: 2rem;
  width: 2rem;
  height: 2rem;
  z-index: 1;
}

.signup__wrapper .signup__item .signup__form .signup__password:after {
  content: url("../../assets/icon/hidden.svg");
  position: absolute;
  top: 0.9rem;
  right: 1.9rem;
  width: 2rem;
  height: 2rem;
  z-index: 1;
}

.signup__wrapper .signup__item .signup__form .signup__confirm {
  position: relative;
  margin-bottom: 0.8rem;
}

.signup__wrapper .signup__item .signup__form .signup__confirm input {
  padding: 0.95rem 4.7rem 0.95rem 4.7rem;
}

.signup__wrapper .signup__item .signup__form .signup__confirm:before {
  content: url("../../assets/icon/confirm.svg");
  position: absolute;
  top: 1.4rem;
  left: 2rem;
  width: 2rem;
  height: 2rem;
  z-index: 1;
}

.signup__wrapper .signup__item .signup__form .signup__confirm:after {
  content: url("../../assets/icon/hidden.svg");
  position: absolute;
  top: 0.9rem;
  right: 1.9rem;
  width: 2rem;
  height: 2rem;
  z-index: 1;
}

.signup__wrapper .signup__item .signup__form .signup__button {
  background: #7297ff;
  cursor: pointer;
  text-align: left;
  border: none;
  color: #ffffff;
  padding: 1.2rem 1.6rem;
  width: 12.2rem;
  height: 4.8rem;
  border-radius: 0.8rem;
  font-weight: 500;
  font-size: 1.5rem;
}

.signup__wrapper .signup__item .signup__form .signup__button:after {
  content: url("../../assets/icon/arrow-right.svg");
  position: relative;
  height: 13.3rem;
  width: 7.7rem;
  top: 0.2rem;
  left: 1.7rem;
}

.signup__wrapper .signup__item .signup__notification {
  display: block;
}

.signup__wrapper .signup__item .signup__notification p {
  font-size: 1.5rem;
  color: #a1abc9;
  margin-bottom: 0.2rem;
}

.signup__wrapper .signup__item .signup__notification a {
  font-size: 1.5rem;
  font-weight: 500;
  color: #7297ff;
  cursor: pointer;
}

@media (min-width: 768px) {
  .signup__wrapper {
    background: url("../../assets/background/bg-tablet.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: 100vh;
  }
  .signup__wrapper .signup__item {
    height: 100vh;
    top: 0;
    width: 56rem;
    border-radius: 0;
    padding: 24rem 9.6rem 0;
  }
  .signup__wrapper .signup__item h1 {
    top: 16.6rem;
    font-size: 2.4rem;
  }
  .signup__wrapper .signup__item .signup__form input {
    font-size: 1.7rem;
    height: 5.6rem;
    padding: 1.6rem 0.5rem 1.6rem 6.3rem;
    margin-bottom: 4rem;
  }
  .signup__wrapper .signup__item .signup__form .signup__firstname:before,
  .signup__wrapper .signup__item .signup__form .signup__lastname:before {
    top: 1.8rem;
    left: 2.6rem;
  }
  .signup__wrapper .signup__item .signup__form .signup__email:before {
    top: 2rem;
    left: 2.6rem;
  }
  .signup__wrapper .signup__item .signup__form .signup__password:before {
    top: 1.8rem;
    left: 2.8rem;
  }
  .signup__wrapper .signup__item .signup__form .signup__password:after {
    top: 1.7rem;
    right: 2.7rem;
  }
  .signup__wrapper .signup__item .signup__form .signup__confirm {
    margin-bottom: 2.4rem;
  }
  .signup__wrapper .signup__item .signup__form .signup__confirm:before {
    top: 2.2rem;
    left: 2.8rem;
  }
  .signup__wrapper .signup__item .signup__form .signup__confirm:after {
    top: 1.7rem;
    right: 2.7rem;
  }
  .signup__wrapper .signup__item .signup__form .signup__button {
    padding: 1.6rem 2.4rem;
    width: 14.6rem;
    height: 5.6rem;
    font-size: 1.7rem;
  }
  .signup__wrapper .signup__item .signup__form .signup__button:after {
    top: 0.1rem;
  }
  .signup__wrapper .signup__item .signup__notification {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1.2rem;
    bottom: 7.9rem;
  }
}

@media (min-width: 1920px) {
  .signup__wrapper {
    background: url("../../assets/background/bg-desc.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .signup__wrapper .signup__item .signup__form .signup__password input,
  .signup__wrapper .signup__item .signup__form .signup__confirm input {
    padding: 0.95rem 4.7rem 0.95rem 6.3rem;
  }
}
/*# sourceMappingURL=signup.css.map */